name: "Action Test"
on:
  workflow_dispatch:
  
jobs:
  analyze:
    name: Analyze
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        language: [ 'java' ]

    steps:
    - name: Checkout repository
      uses: actions/checkout@v2

    - name: Initialize CodeQL
      uses: github/codeql-action/init@v2
      with:
        languages: ${{ matrix.language }}
        queries: +./.github/AlertSuppression.ql

    - run: |
        javatest/build

    - name: Perform CodeQL Analysis
      id: analyze
      uses: github/codeql-action/analyze@v2
      with:
        output: sarif-results

    - name: dismiss-sarif
      uses: ./
      with:
        sarif_id: ${{ steps.analyze.outputs.sarif-id }}
        sarif_file: sarif-results/java.sarif
      env:
        GITHUB_TOKEN: ${{ github.token }}

