name: "CodeQL-Dismiss-Alerts-Test"

on:
  workflow_dispatch:

permissions:
  contents: read
  security-events: write

jobs:
  analyze:
    name: Analyze
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        language: ["java", "javascript", "cpp", "csharp", "go", "ruby", "python"]

    steps:
      - name: Checkout repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Initialize CodeQL
        uses: github/codeql-action/init@1b168cd39490f61582a9beae412bb7057a6b2c4e # v4.31.8
        with:
          languages: ${{ matrix.language }}
          packs: advanced-security-demo/${{ matrix.language }}-alert-suppression
          
      - name: Build java
        if: ${{ matrix.language == 'java' }}
        run: |
          tests/java/build
        
      - name: Build cpp
        if: ${{ matrix.language == 'cpp' }}
        run: | 
          cd tests/cpp/
          make add-user
      
      - name: Build csharp
        if: ${{ matrix.language == 'csharp' }}
        run: |
          cd tests/csharp
          dotnet build
 
      - name: Perform CodeQL Analysis
        id: analyze
        uses: github/codeql-action/analyze@1b168cd39490f61582a9beae412bb7057a6b2c4e # v4.31.8
        with:
          output: ${{ matrix.language }}-sarif-results
         
      - name: dismiss-alerts
        uses: ./
        with:
          sarif-id: ${{ steps.analyze.outputs.sarif-id }}
          sarif-file: ${{ matrix.language }}-sarif-results/${{ matrix.language }}.sarif
        env:
          GITHUB_TOKEN: ${{ github.token }}
          
